<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>COVID-19 Predictor</title>
</head>
<body style="text-align: center;background-color:rgb(255, 173, 51); font-family:sans-serif; color:grey;">


    <h1 style="font-family:serif;">COVID-19 Predictor</h1>
    <p>Welcome to the COVID-19 Predictor! You can submit an X-ray image of your lung here, and we will use it to predict whether or not you have COVID-19.</p>
    <p>Our website uses a machine learning algorithm to process the image which the computer will use to determine whether or not you have COVID-19!</p>
    <p>Note that this software is not 100% accurate. It uses a range of probabilities to make its decision. This software is also not a substitute for a medical institute or doctor. Please check a clinic or hospital for details.</p>
    <form action="/result" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</body>
</html>